/* You can add global styles to this file, and also import other style files */

.clickable{
    cursor: pointer;
}


.row{
    display: flex;
    justify-content: flex-start;
}

.col{
    align-self: center;
}

* {
    color: #3a3939;
}