<app-search-box (search)="search($event)"></app-search-box>
<div>
  <app-loading-indicator [loading]="loadingInd"></app-loading-indicator>
</div>
<ng-container *ngFor="let story of display">

  <app-title [text]="story.title" [url]="story.url"></app-title>
 
  <div>
    Posted On: {{story.time * 1000 | date: "medium"}}
  </div>
  <div>
     By: {{story.by}}
  </div>

  <div *ngIf="story.descendants > 0">
    <app-comment-list [commentIds]="story.kids"></app-comment-list>
  </div>

</ng-container>